language: android

jdk: oraclejdk8

android:
  components:
    - tools
    - tools
    - build-tools-24.0.2
    - android-24
    - extra-android-support
    - extra-android-m2repository
  licenses:
    - android-sdk-license-.+

before_install:
 - chmod +x gradlew
